@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.background{
    width: 100vw;
    height: auto;
    background-image: url("/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.header{
width: 100vw;
display: flex;
padding-top: 20px;
margin-bottom: 90px;
}
.data{
width: 50%;
display: flex;
justify-content: flex-start;
padding-left: 40px;
align-items: center;
margin-top: 28px;
margin-bottom: 30px;
}
.imgLogo{
width: 156px;
height: 48.33px;
padding-right: 56px;

}
.data h3{
color: rgb(200, 200, 200);
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 29px;
padding-left: 26px;
}
.border{
width: 30px;
border: 1px solid white;
transform: rotate(90deg);
}
.avatar{
width: 50%;
display: flex;
justify-content: flex-end;
align-items: center;
padding-right: 50px;
}
.iconHeader{
width: 40px;
height: 30px;
color: white;
padding-right: 35px;
}
.inputSearch{
border-radius: 5px;
font-size: 18px;
padding: 10px;
margin-right: 20px;
}
.loginButton{
color: white;
background-color: blue;
padding: 8px 20px 10px;
font-size: 20px;
position: absolute;
top: 50px;
right: 40px;
}
.imgAvatar{
width: 8%;
}
.sticker{
display: flex;
position: fixed;
width: 174px;
height: 66px;
right: 0px;
top: 750px;
}
.stkLeft{
width: 19%;
height: 100%;
background: rgb(213, 13, 31);
}
.stkRight{
    width: 81%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.count{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 141.52%;
position: relative;
top: 15px;
left: 43px;
text-decoration: none;
}


@media(min-width:1100px)and 
      (max-width:1400px){
    .data{
        margin-right: 20px;
        width: 70%;
    }
    .avatar{
        width: 30%;
    }
    .imgAvatar{
        width: 20%;
    }
    .inputSearch{
        position: absolute;
        top: 120px;
        right: 0px;
    }
    .sticker{
       z-index: 10;
    }
}



@media(min-width:800px)and 
      (max-width:1100px){
    .data{
        margin-right: 20px;
        width: 70%;
    }
    .avatar{
        width: 30%;
    }
    .imgAvatar{
        width: 30%;
    }
    .inputSearch{
        position: absolute;
        top: 120px;
        right: 0px;
    }
    .sticker{
       top: 650px;
       z-index: 10;
    }
}



@media(min-width:500px)and 
      (max-width:800px){
    .data{
        margin-right: 20px;
    }
    .data h3, .border{
       display: none;
    }
    .imgAvatar{
        width: 20%;
    }
    .inputSearch{
        position: absolute;
        top: 120px;
        right: 0px;
    }
    .sticker{
        width: 100px;
        height: 45px;
    }
    .count{
        font-size: 20px;
        top: 10px;
        left: 25px;
    }
}



@media(max-width:500px){
    .data{
        margin-right: 20px;
    }
    .data h3, .border{
       display: none;
    }
    .imgAvatar{
        width: 50%;
    }
    .inputSearch{
        position: absolute;
        top: 110px;
        right: 0px;
    }
    .sticker{
        width: 100px;
        height: 45px;
    }
    .count{
        font-size: 20px;
        top: 10px;
        left: 25px;
    }
}